body {
  text-align: center;
  background: #444;
}

div {
  padding: 1rem 0;
  width: 100%;
}

input[type=file] {
  color: white;
}

canvas {
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.5);
  border: 5px solid white;
  max-width: 100%;
  box-sizing: border-box;
}